In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('hedge.xlsx', index_col=0)
df['Vol40'] = np.log(df['Hedge']+1).shift(1).rolling(40).std() * np.sqrt(250)
df['Proportion'] = 0.05 / df['Vol40']

In [5]:
df['Proportion'] = df['Proportion'].fillna(1)

In [6]:
df[['LONG_2', 'LONG_3', 'SHORT_1', 'SHORT_2']] = df[['LONG_2', 'LONG_3', 'SHORT_1', 'SHORT_2']].multiply(df["Proportion"], axis="index")

In [7]:
df.to_excel('risk_control.xlsx')

In [8]:
df[['LONG_2', 'LONG_3', 'SHORT_1', 'SHORT_2']]

               LONG_2     LONG_3    SHORT_1    SHORT_2
Date
2007-01-03  95.000000   5.000000   0.000000   0.000000
2007-01-04  90.000000  10.000000   0.000000   0.000000
2007-01-05  85.000000  15.000000   0.000000   0.000000
2007-01-08  80.000000  20.000000  16.000000   4.000000
2007-01-09  75.000000  25.000000  30.000000  10.000000
...               ...        ...        ...        ...
2020-08-25   9.800191  41.650810   9.800191  41.650810
2020-08-26   8.412511  50.475066   8.412511  50.475066
2020-08-27   6.195361  58.855934   6.195361  58.855934
2020-08-28   3.239333  64.786663   3.239333  64.786663
2020-08-31   0.000000  69.264770   0.000000  69.264770

[3440 rows x 4 columns]

In [3]:
np.log(df['Hedge']+1).shift(1).rolling(40).std() * np.sqrt(250)

Date
2007-01-03         NaN
2007-01-04         NaN
2007-01-05         NaN
2007-01-08         NaN
2007-01-09         NaN
                ...
2020-08-25    0.097180
2020-08-26    0.084908
2020-08-27    0.076862
2020-08-28    0.073501
2020-08-31    0.072187
Name: Hedge, Length: 3440, dtype: float64